section.contacts.overlay-bg
	.bg-img
		.bg-img__item
			img(src="./img/gallery/6.webp", alt="img")
		.bg-img__item
			img(src="./img/gallery/7.webp", alt="img")
		.bg-img__item
			img(src="./img/gallery/8.webp", alt="img")
		.bg-img__item
			img(src="./img/gallery/9.webp", alt="img")
	
	.container
		.service-title.txt-center
			h2 Kontaki.
			a(href="#!").text-link Explore