section.gallery
	.container
		.gallery-wrapper
			a(href="./img/gallery/40.webp")
				img(src="./img/gallery/40.webp", alt="")
			a(href="./img/gallery/40.webp")
				img(src="./img/gallery/40.webp", alt="")
			a(href="./img/gallery/40.webp")
				img(src="./img/gallery/40.webp", alt="")